/* .mainSection {
     */
/* } */

.s1CanonCamera {
    padding: 38px 175px 0 175px;
    margin-bottom: 52px;
}

.s1CanonCamera h2 {
    font-size: 43px;
    color: #1B5A7D;
    font-weight: 700;
    width: 175px;
    margin-bottom: 19px;
}

.s1Btns {
    gap: 21px;
    margin-bottom: 49px;
}

.s1ShopnowBtn {
    padding: 18.5px 32px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #EDA415;
    font-weight: 600;
}

.s1ViewmoreBtn {
    padding: 18.5px 32px;
    border: 1px solid #316887;
    border-radius: 20px;
    background-color: transparent;
    color: #316887;
    font-weight: 600;
}

.nextBtns {
    text-align: center;
}

.nextBtns button:first-child {
    background-color: #EDA415 !important;
    border: none !important;
}

#nextBtn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: transparent;
    border: 1px solid #ADADAD;
}

.s1CameraImg {
    max-height: 394px;
    width: 331px;
}

.imgPrice {
    position: relative;
}

.price {
    width: 120px;
    height: 120px;
    background-color: #EDA415;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 21.573px;
    position: absolute;
    top: 189px;
    right: -31px;
}

.s2ProductLine {
    gap: 25px;
    margin: 0 108px;
}

.s2ProductLineEl {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid #A5A5A5;
    border-radius: 20px;
    padding: 20px 0;
    position: relative;
}

.s2ProductLineImg {
    width: auto;
    height: 120px;
}

.s2ProductLineEl p {
    color: #1B5A7D;
    font-weight: 500;
    font-size: 19px;
}

.s2ProductLineEl h4 {
    color: #1B5A7D;
    font-weight: 600;
    font-size: 22.37px;
}

.s2ProductLineBtn {
    width: 37px;
    height: 37px;
    top: 62px;
    border-radius: 50%;
    border: none;
    background-color: #EAEAEA;
}

.s2ProBtn1 {
    position: absolute;
    left: -18px;
}

.s2ProBtn2 {
    position: absolute;
    right: -18px;
}

.s3Main {
    margin: 100px 60px 0 60px;
}

.s3header {
    margin-bottom: 50px;
}

.s3header h2{ 
font-weight: 600;
color: #1B5A7D;
}

.s3HeaderBtns {
    gap: 10px;
}

.s3TopProList {
    border-radius: 20px;
    border: 1px solid #003F62;
    font-weight: 500;
    color: #1B5A7D;
    padding: 10px;
    background-color: transparent;
}

.s3Product {
    width: 308.83px;
    height: 313.75px;
    position: relative;
    border: 1px #B6B6B6 solid;
    border-radius: 19.67px;
    padding: 10px;
    margin-bottom: 10px;
}

.s3ProductImg {
    height: 60%;
}

.starBtn {
    border: none;
    color: grey;
    background-color: transparent;
}

.shopBtn {
    border: none;
    background-color: #EDA415;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 214px;
    right: 18px;
}

.heartBtn {
    border: none;
    background-color: #B3D4E5;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 18px;
}

.newLaptop {
    width: 1315px;
    height: 417px;
    margin: auto;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    color: #fff;
    position: relative;
}

.proInf {
    position: absolute;
    left: 797px;
    top: 91px;
}

.infBtn {
    border: none;
    background-color: #EDA415;
    border-radius: 20px;
    color: #fff;
}

.logoIcon {
    /* display: block;
    width: 50px;
    height: 50px; */
    color: #EDA415;
    font-size: 50px;
}

.sec6 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E2F4FF;
    border-radius: 20px;
    padding: 10px;
}
